{{! Use the main layout }}
{{!< main }}

<div class="profile-container">
    <div class="profile-avatar"> 
        <img src="{{#if user.avatar_url}}
                        {{user.avatar_url}}
                    {{else}}
                        /avatar/{{user.username}}
                    {{/if}}" 
                    alt="User Avatar" 
                    class="header-avatar">
        <!-- Correct path for the default avatar image -->
    </div>

    <section class="profile-info">
        <!-- user profile info -->
        <h2>User Profile</h2>
        <p><strong>Username</strong>: {{user.username}} {{../user.username}} {{this.username}}</p>
        <p><strong>Member since:</strong> {{user.memberSince}}</p>
    </section>
</div>
<section class="user-posts">
    <!-- you can call posts tweets, or truths, or whatever, these are neologisms. Choose your own new in server.js -->
    <h2>Your {{{postNeoType}}}s</h2>
    <form action="/profilepostsort" method="POST">
           
        <input type="radio" id="dates" name="sorttype" value="dates"> 
        <label for="dates">Sort by Recency</label>
        <input type="radio" id="nlikes" name="sorttype" value="nlikes"> 
        <label for="nlikes">Sort by Number of Likes</label>
    </form>
    <!-- you'll need to make this conditaionl and #each expression work -->
    {{#if posts2.length}}
        <ul>
            {{#each posts2}}
                <!-- you have to pass the user in to posts and this is the syntax -->
                {{> post this user=../user}} 
            {{/each}}
        </ul>
        {{else}}
            <!-- no posts, oh no, what now? -->
        {{/if}}
</section>

<script>

     let currentsort = "dates";
    window.addEventListener('load', init);
    let radioss = document.getElementsByName('sorttype');
 for(var i = 0; i < radioss.length; i++){
     radioss[i].addEventListener("click",changeradio);
 }
 
 
 function changeradio()
 {
     let s  = document.querySelector('input[name="sorttype"]:checked').value;
     if(s!=currentsort) //currentsort
     {
         currentsort=s;
         this.closest("form").submit();
     }
     document.getElementById(s).checked=true;
 }
 
    //fetches emoji api access key from server upon page load
    function init(){
         fetch("/getCurrentSortType", {
             method: "GET",
         })
         .then(response => response.text())
         .then(text => {
             //alert(text);  
             document.getElementById(text).checked=true;  
             currentsort = text;  
         })
         .catch(error => console.error('Error:', error));
     }
         
     function handleError(err)
     {
         alert("error");
     }
     async function statusCheck(res){
         if(!res.ok)
         {
             throw new Error(await res.text());
         }
         return res;
     }
 
 </script>

